.way-to-pay {
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 20px;
    max-width: 990px;
}

.info-add,.numbercard{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.info-add {
    margin-bottom: 24px;
}

.banks-to-pay {
    font-size: 14px;
    font-weight: 600;
}

.add-the-bank {
    background-color: #2D3748;
    border: none;
    border-radius: 8px;
    padding: 14px 39px;
    font-weight: 600;
    font-size: 10px;
    color: white;
}

.MasterNumber,.VisaNumber{
    position: relative;
    outline: none;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    padding: 23px 260px 23px 56px;
    max-width: 459px;
}

.MasterNumber::placeholder,.VisaNumber::placeholder{
    color: #A0AEC0;
}

.edit1,.edit2,.MasterIcon,.VisaIcon,.edit3,.edit4{
    position: absolute;
    z-index: 4;
    top: 110px;
}

.edit1,.edit3{
    left: 452px;
}

.edit2,.edit4{
    left: 935px;
}

.MasterIcon{
    left: 44px;
}

.VisaIcon{
    left: 527px;
    top: 112px;
}

.add-the-bank:hover{
    background-color: #3182CE;
}

.edit3,.edit4{
    opacity: 0%;
    z-index: 11;
}

.edit3:hover,.edit4:hover{
    opacity: 100%;
}