.main-block {
    display: flex;
    gap: 19px;
    padding: 60px 32px 0 20px; 
    background-color: transparent; 
    position: relative;
    z-index: 2; 
    bottom: -50px;
    max-width: 1920px;
}


.top-block{
    margin-bottom: 24px;
}

.bottom-block{
    display: flex;
    gap: 24px;
    max-width: 1584px;
    justify-content: space-between;
}
.flexup {
    display: flex;
    gap: 24px;
}
body {
    background-color: #f4f8fd;
    position: relative;

}
.app {
    background-color: #F8F9FA;
    margin: 0 auto;
    max-width: 1920px;
}
