@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #3182CE
}
.menu {
    max-width: 260px;
    max-height: 727px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.panel {
    max-width: 219.5px;
    max-height: 54px;
    padding: 10px 30px 18px 58px;
    margin-left: 15px;
    border-radius: 8px;
    

    

}
.panel1 {
    margin-top: 15px;
}

.menutext {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin-left: 35px;
    font-family: montserrat;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: bold;

    
    
    
    
}

.menuname {
    margin-top: 10px;
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    position: relative;
    font-family: montserrat;
    

    
}
.imghelp {
    max-width: 165px;
    max-height: 117px;
    display:block;
    margin: 0 auto;

}
.texthelp {
  font-weight: 550;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 38px;
  text-align: center;
  font-family: montserrat;
  
}

.btndoc {
    padding: 6px 38px;
    border-radius: 8px;
    border:none;
    background-color:#3182CE;
    width: 186px;
    height: 35px;
    margin-bottom: 17px;
    color: white;
    display: block;
    font-weight: 400px;
    font-size: 10px;
    line-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: montserrat;
}
.menuname1::before {
    position: absolute;
    content: '';
    padding: 13px;
    background-image: url("/imgs/icons/iconizer-panelupravleniya.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    left: -33px;
    top: -5px
    

   
    
}
.menuname2::before {
    position: absolute;
    content: '';
    padding: 13px;
    background-image: url("/imgs/icons/table.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    left: -33px;
    top: -5px
    

   
    
}.menuname3::before {
    position: absolute;
    content: '';
    padding: 13px;
    background-image: url("/imgs/icons/littlecard.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    left: -33px;
    top: -5px
    

   
    
}.menuname4::before {
    position: absolute;
    content: '';
    padding: 13px;
    background-image: url("/imgs/icons/RTL.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    left: -33px;
    top: -5px
    

   
    
}.menuname6::before {
    position: absolute;
    content: '';
    padding: 13px;
    background-image: url("/imgs/icons/iconperson.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    left: -33px;
    top: -5px
    

   
    
}
.menuname7::before {
    position: absolute;
    content: '';
    padding: 13px;
    background-image: url("/imgs/icons/littlelist.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    left: -33px;
    top: -5px
    

   
    
}
.menuname8::before {
    position: absolute;
    content: '';
    padding: 13px;
    background-image: url("/imgs/icons/rocket.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    left: -33px;
    top: -5px
    

   
    
}

.panel1:hover .menuname1::before {
    background-image: url("/imgs/icons/panelupravleniya.svg");
    background-color: #3182CE;

}
.panel1:hover {
    box-shadow: 0px 5px 14px 0px #0000000D;
}
.panel1:hover .menuname1 {
    font-weight: bold;
}
.panel2:hover .menuname2::before {
    background-image: url("/imgs/icons/iconizer-table\ \(1\).svg");
    background-color: #3182CE;
}
.panel2:hover {
    box-shadow: 0px 5px 14px 0px #0000000D;
}
.panel2:hover .menuname2 {
    font-weight: bold;
}
.panel3:hover .menuname3::before {
    background-image: url("/imgs/icons/iconizer-littlecard.svg");
    background-color: #3182CE;
}
.panel3:hover {
    box-shadow: 0px 5px 14px 0px #0000000D;
}
.panel3:hover .menuname3 {
    font-weight: bold;
}
.panel4:hover .menuname4::before {
    background-image: url("/imgs/icons/iconizer-RTL.svg");
    background-color: #3182CE;
}
.panel4:hover {
    box-shadow: 0px 5px 14px 0px #0000000D;
}
.panel4:hover .menuname4 {
    font-weight: bold;
}
.panel5:hover .menuname6::before {
    background-image: url("/imgs/icons/iconizer-human.svg");
    background-color: #3182CE;
}
.panel5:hover {
    box-shadow: 0px 5px 14px 0px #0000000D;
}
.panel5:hover .menuname6 {
    font-weight: bold;
}

.panel6:hover .menuname7::before {
    background-image: url("/imgs/icons/iconizer-littlelist.svg");
    background-color: #3182CE;
}
.panel6:hover {
    box-shadow: 0px 5px 14px 0px #0000000D;
}
.panel6:hover .menuname7 {
    font-weight: bold;
}

.panel7:hover .menuname8::before {
    background-image: url("/imgs/icons/iconizer-rocket.svg");
    background-color: #3182CE;
}
.panel7:hover {
    box-shadow: 0px 5px 14px 0px #0000000D;
}
.panel7:hover .menuname8 {
    font-weight: bold;
}
