@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900&display=swap");

.Transaction {
    border-radius: 20px;
    background-color: white;
    padding: 28px 21px;
    max-width: 660px;
    font-family: "montserrat";
}

.your-transaction {
    font-weight: 600;
}

.transaction-title, .subname-transaction,.waiting{
    color: #2D3748;
}

.date-transaction,.the-newest,.date-history{
    color: #A0AEC0;
}

.date-transaction{
    position: relative;
}


.calendar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}

.transaction-title {
    font-size: 18px;
}

.date-transaction,.subname-transaction,.price-transaction-green,.price-transaction-red,.waiting {
    font-size: 14px;
}

.calendar-transaction{
    position: absolute;
    left: 447px;
}

.the-newest {
    font-size: 10px;
    margin-bottom: 17px;
}

.history-of-transaction {
    display: flex;
    margin-bottom: 24px;
    justify-content: left;
    gap: 14px;
    align-items: center;
}

.history-of-transaction:hover{
    box-shadow: 0px 5px 14px 0px #0000000D;
    border-radius: 8px;
}

.gasprom{
    margin-bottom: 26px;
}

.subname-transaction {
    margin-bottom: 5px;
}

.date-history {
    font-size: 12px;
}

.price-transaction-red,.price-transaction-green{
    margin-left: 292px;
}

.price-transaction-red {
    color: #E53E3E;
}

.price-transaction-green {
    color: #48BB78;
}

.waiting {
    margin-left: 256px;
}

.tinkoff{
    margin: 0;
}